<%- include('./layouts/header.ejs') %> 
<!-- Page Header -->
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Edit <%= post.username %>'s Post</h1>
          </div>
        </div>
      </div>
    </div>
  </header>
  
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <form action="/post/<%=post.id%>/?_method=PUT"  method="POST" enctype="multipart/form-data" >
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Title</label>
              <input type="text" name="title" placeholder="Title" class="form-control" value="<%= post.title %> ">
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Description</label>
              <input type="text" name="description" placeholder="Description" class="form-control" value="<%= post.description %> ">
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Content</label>
              <textarea name="content" placeholder="Content ..." cols="30" rows="10" class="form-control"><%=post.content%> </textarea>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Image</label>
              <input type="file" accept="image/*" name="image" placeholder="Upload Image" class="form-control-file" value="<%=post.image%> " required>
            </div>
          </div>
          <div class="form-group my-4 text-center">
            <button class="btn btn-primary">Edit Post</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <%- include('layouts/footer.ejs') %> 