<%-include('layouts/header.ejs') %>
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            lastest post
            <div class="site-heading">
              <h1>Lastest Post</h1>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Main Content -->
    <div id="mainContent" class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <% posts.forEach(post => { %>
                <div class="post-preview">
                    <a href="/post/<%=post._id%>">
                      <h2 class="post-title">
                        <%=post.title%>
                      </h2>
                      <h3 class="post-subtitle">
                        <%= post.description %> 
                      </h3>
                    </a>
                    <p class="post-meta">Posted by
                        <% if(post.username){ %> 

                            <a href="#"><em><%=post.username.toUpperCase()%></em></a>
                            <%=post.date.toLocaleDateString()  %> at <%= post.date.toLocaleTimeString() %>  </p>
                            </div>
                        <% } else { %>
                       on
                       <% if (!post.date) { %>
                        
                       <% }else{%>
                      <%=post.date.toLocaleDateString()  %> at <%= post.date.toLocaleTimeString() %>  </p>
                      <%}%>
                  </div>
                  <% } %> 
                  
                  <hr>
                  <%})%>
                 <div id="extra"></div>

        <form action="/getmorepost" method="get"></form>
          <div class="clearfix">
            <button id="ajaxGetReq" type="submit" onclick="ajaxGetReq" class="btn btn-primary float-right">Older Posts &rarr;</button>
          </div>
        </div>
      </div>
    </div>

    <hr>
<%- include('layouts/footer.ejs') %> 
