<%-include('layouts/header.ejs') %> 
    <!-- Navigation -->
   
    <!-- Page Header -->
    <% if (!post.image) { %>
     
    <% } else { %>
    <header class="masthead" style="background-image: url('<%=post.image%>')">
      <%}%>
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
              <div class="post-heading">
                <span class="meta">
                  <a href="/post/<%= post.id %>/edit"> Edit</a>
                </span>
                <form action="/post/<%= post.id %>?_method=DELETE" method="POST">
                  <button class="btn btn-outline-light btn-sm">Delete</button>
                </form>
                <h1><%= post.title %> </h1>
                <h2 class="subheading">Problems look mighty small from 150 miles up</h2>
                <span class="meta">Posted by
                  <a href="#"><%=post.username%> </a> on
                  <%=post.date.toLocaleDateString()  %> at <%= post.date.toLocaleTimeString() %></span>
              </div>
          </div>
        </div>
      </div>
    </header>
    
    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
           <%- post.content %> 
          </div>
        </div>
        <hr>
        <div>
          Hello Comment Here
          <i class="fa fa-comment" aria-hidden="true"></i>
        </div>
      </div>

    </article>

    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <form action="/post/<%=post.id%>/comment" method="post">
            <div class="container">
              <div class="control-group ">
                <div class="form-group floating-label-form-group controls border-left-2 border-dark border-3">
                  <label>Message</label>
                  <textarea rows="5" name="comment[message]" class="form-control " placeholder="Comment Here ...." id="message" required data-validation-required-message="Please enter a message."></textarea>
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="form-group my-4 text-center">
                <%console.log(post.comment)%> 
                <button class="btn btn-primary">Add Comment</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
          
    
    <%- include('layouts/footer.ejs') %> 
